{% extends "base/layout.html" %} {% load static %} {% load mptt_tags %} {% block
body %}

<noscript> Please active javascript on your browser. </noscript>
<div class="exam-tab">
    <div class="wrapper" id="q-container">
        <div class="body">
            <div id="examBuilder" class="container">
                <div class="px-2 py-4 border-bottom">
                    <div class="header">
                        <label for="header-checkbox">
                            <h5>Courses</h5>
                        </label>
                    </div>
                    <div id="courses"></div>
                </div>
                <div class="px-2 py-3">
                    <div class="header">
                        <label for="header-checkbox">
                            <span class="h6"> Question Mode </span>
                            <div class="img-wrapper info">
                                <img class="info-icon" src="{% static 'htmlAsset/images/info.svg' %}" />
                            </div>
                        </label>
                    </div>
                    <div class="row py-2 border-bottom">
                        <div class="col-xl-3 py-2">
                            <label for="question-mode-0" class="radio-label" id="unused">
                                <input type="radio" class="content-radio" id="question-mode-0" name="question-mode"
                                    data="UNUSED" />
                                <div class="radio-div">
                                    <div class="dot"></div>
                                </div>
                                <span class="content-text"> Unused </span>
                                <span class="available-question">0</span>
                            </label>
                        </div>
                        <div class="col-xl-3 py-2">
                            <label for="question-mode-1" class="radio-label" id="used">
                                <input type="radio" class="content-radio" id="question-mode-1" name="question-mode"
                                    data="USED" />
                                <div class="radio-div">
                                    <div class="dot"></div>
                                </div>
                                <span class="content-text"> Used </span>
                                <span class="available-question">0</span>
                            </label>
                        </div>
                        <div class="col-xl-3 py-2">
                            <label for="question-mode-2" class="radio-label" id="correct">
                                <input type="radio" class="content-radio" id="question-mode-2" name="question-mode"
                                    data="CORRECT" />
                                <div class="radio-div">
                                    <div class="dot"></div>
                                </div>
                                <span class="content-text"> Correct </span>
                                <span class="available-question">0</span>
                            </label>
                        </div>

                        <div class="col-xl-3 py-2">
                            <label for="question-mode-3" class="radio-label" id="incorrect">
                                <input type="radio" class="content-radio" id="question-mode-3" name="question-mode"
                                    data="INCORRECT" />
                                <div class="radio-div">
                                    <div class="dot"></div>
                                </div>
                                <span class="content-text"> Incorrect </span>
                                <span class="available-question">0</span>
                            </label>
                        </div>
                        <div class="col-xl-3 py-2">
                            <label for="question-mode-4" class="radio-label" id="marked">
                                <input type="radio" class="content-radio" id="question-mode-4" name="question-mode"
                                    data="MARKED" checked="" />
                                <div class="radio-div">
                                    <div class="dot"></div>
                                </div>
                                <span class="content-text"> Marked </span>
                                <span class="available-question">0</span>
                            </label>
                        </div>
                        <div class="col-xl-3 py-2">
                            <label for="question-mode-5" class="radio-label" id="all">
                                <input type="radio" class="content-radio" id="question-mode-5" name="question-mode"
                                    data="ALL" checked="" />
                                <div class="radio-div">
                                    <div class="dot"></div>
                                </div>
                                <span class="content-text"> All </span>
                                <span class="available-question">0</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="px-2 py-3 border-bottom subject-row">
                    <div class="header">
                        <label class="checkbox-label" for="header-checkbox-0">
                            <input id="header-checkbox-0" type="checkbox" class="content-checkbox" />
                            <div class="checkbox-div">
                                <div class="tick"></div>
                            </div>
                            <span class="h6"> Subjects </span>
                        </label>
                    </div>
                    <div class="content display-flex" id="subjects"></div>
                </div>

                <div class="px-2 py-3 border-bottom system-row">
                    <div class="header">
                        <label class="checkbox-label" for="header-checkbox-1">
                            <input id="header-checkbox-1" type="checkbox" class="content-checkbox" />
                            <div class="checkbox-div">
                                <div class="tick"></div>
                            </div>
                            <span class="h6"> Systems </span>
                        </label>
                    </div>
                    <div class="content display-flex" id="systems"></div>
                </div>

                <div class="px-2 py-4">
                    <div class="header">
                        <label class="d-flex" for="header-checkbox" id="noOfQuestion">
                            <h6 class="mb-0">No. of Questions</h6>
                            <span class="available-question">0</span>
                        </label>
                    </div>
                    <div class="content">
                        <div class="input-field">
                            <label for="numberOfQuestion">
                                <span>Number Of Questions (Max: 200 questions)</span>
                                <input type="number" id="numberOfQuestion" value="100" />
                            </label>
                        </div>
                        <div class="input-field">
                            <label for="secPerQuestion">
                                <span>Seconds Per Question (Max: 360 seconds)</span>
                                <input type="number" id="secPerQuestion" value="60" />
                            </label>
                        </div>
                        <div class="info">
                            <span class="text">You have <span class="time-text">0:00 minute(s)</span> for
                                selected topics on test.</span>
                        </div>
                        <div class="button-wrapper">
                            <button class="create-test">Generate Test</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <iframe id="testModule" frameborder="0"></iframe>
    </div>
    <div id="module">
        <div class="test-result overlay">
            <div class="container">
                <div class="header">
                    <h1>Test Overview</h1>
                </div>
                <div class="main">
                    <table>
                        <tr>
                            <td class="head">Time Spent in The Exam</td>
                            <td class="separator">:</td>
                            <td id="timeSpent">???</td>
                        </tr>
                        <tr>
                            <td class="head">Correct Question</td>
                            <td class="separator">:</td>
                            <td id="correctQuestion">???</td>
                        </tr>
                        <tr>
                            <td class="head">Incorrect Question</td>
                            <td class="separator">:</td>
                            <td id="inCorrectQuestion">???</td>
                        </tr>
                        <tr>
                            <td class="head">Unanswered Question</td>
                            <td class="separator">:</td>
                            <td id="unAnsweredQuestion">???</td>
                        </tr>
                    </table>
                </div>
                <div class="footer">
                    <button>Show answers and explanations</button>
                </div>
            </div>
        </div>
        <nav>
            <div>
                <div class="left-menu-button-wrapper">
                    <button class="left-container-button">&#8801;</button>
                </div>
                <div class="question-info">
                    <span class="question-text">Questions</span>
                    <span class="question-counter">
                        <span class="current">??</span>
                        <span> of </span>
                        <span class="total">??</span>
                    </span>
                </div>
            </div>

            <div class="logo-wrapper">
                <img src="{% static 'htmlAsset/images/logo.svg' %}" />
            </div>
            <div class="finish-test-wrapper">
                <div class="topic-name-wrapper">
                    <span class="topic-name">??????</span>
                </div>
                <button class="result-button">Test Result</button>
                <button class="finish-button">Finish Test</button>
            </div>
        </nav>

        <main>
            <div class="values-div-wrapper">
                <div class="values">
                    <img src='{% static "htmlAsset/images/lab.svg" %}' id="lab-img" />
                </div>
                <div class="values-div">
                    <iframe src="{% url 'qbank-module-values' %}" frameborder="0"
                        style="height: 100%; width: 100%"></iframe>
                </div>
            </div>
            <div class="info-container">
                <div class="inner">
                    <div class="header">
                        <span>Info</span>
                        <button class="close"
                            onclick="this.parentElement.parentElement.parentElement.style.display='none';">
                            &times;
                        </button>
                    </div>
                    <div class="content">
                        <p>You can switch between questions with arrow keys.</p>
                    </div>
                </div>
            </div>
            <div class="questions-container">
                <ul></ul>
            </div>
            <div class="question-exp-container">
                <div class="question-container">
                    <div class="mark-container">
                        <div class="mark-wrapper">
                            <label class="checkbox-label" for="mark-input">
                                <span class="content-text">Mark Question : </span>
                                <input type="checkbox" id="mark-input" />
                                <div class="checkbox-div">
                                    <div class="tick"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="question"></div>
                </div>
            </div>
        </main>
        <script></script>
        <script src="{% static 'htmlAsset/js/module.js' %}"></script>
    </div>
</div>
<script>
    function htmlDecode(str) {
        const doc = new DOMParser().parseFromString(str, "text/html");
        return doc.documentElement.textContent;
    }

    function isJsonString(str) {
        try {
            JSON.parse(str);
        } catch (e) {
            console.log(e);
            return false;
        }
        return true;
    }

    function stripHtml(html) {
        let tmp = document.createElement("DIV");
        tmp.innerHTML = html;
        return tmp.textContent || tmp.innerText || "";
    }

    let qs = JSON.parse(stripHtml("{{q}}"));

    var questions = qs.map((x) => ({
        correctAnswerIndex: x.correctAnswerIndex,
        exp: x.exp,
        id: x.id,
        question: x.question,
    }));

    let d = "{{ data }}";
    let data = JSON.parse(htmlDecode("{{ datax }}").replace(/'/g, '"'));

    let module_url = "{% url 'qbank-module' %}";
</script>

<script src="{% static 'htmlAsset/js/homepage.js' %}"></script>

{% endblock %}