{% extends "base/layout.html" %}
{% load static %}
{% block body %}
<!-- Main content -->
<section class="d-flex justify-content-center align-items-center flex-column slice slice-lg py-8 bg-cover bg-size--cover"
    style="min-height:calc(100vh - 96px);background-image: url('https://images.unsplash.com/photo-1547127796-06bb04e4b315?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');background-size: cover;">
    <span class="mask bg-dark opacity-8"></span>
    <div class="container d-flex align-items-center" data-offset-top="#navbar-main">
        <div class="col py-5">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 col-lg-7 text-center">
                    <h1 class="display-4 text-white mb-2"><strong>Our Best Courses</strong></h1>
                    <span class="text-white text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
                        quidem commodi ullam reprehenderit natus eius laborum, expedita sequi dicta voluptates quas
                        blanditiis quis est ex adipisci nobis tempora et magni! Ab explicabo rem possimus optio
                        reprehenderit dolore dolores, minus autem eos perferendis dignissimos nobis repudiandae animi
                        deleniti eaque aut exercitationem fuga quasi! Possimus itaque laboriosam vitae suscipit eos in,
                        temporibus corporis cupiditate est maxime eligendi doloribus optio, inventore reiciendis magni?
                        Possimus exercitationem, dolorum asperiores eos totam quis cum porro provident repellat nulla
                        natus id impedit sequi similique consequatur soluta accusamus deleniti reiciendis! Aliquam,
                        magni. Dignissimos, atque? Asperiores deserunt magni velit.d</span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="{% url 'test' %}"
            class="btn btn-primary hover-translate-y-n3 hover-shadow-lg mb-3 text-center">Launch New Test</a>
    </div>
</section>
{% if courses.0 is not None %}
<section class="slice pt-5 pb-7 bg-section-secondary">
    <div class="container">
        <div class="row">
            {% for course in courses %}
            <div class="col-xl-4 col-md-6">
                <div class="card hover-translate-y-n3 hover-shadow-lg overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <a href="{% url 'course' course.id %}" class="d-block">
                            <img alt="Image placeholder" src="{% static 'assets/img/backgrounds/img-4.jpg' %}"
                                class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body py-4">
                        <small class="d-block text-sm mb-2">{{ course.created_at }}</small>
                        <a href="{% url 'course' course.id %}"
                            class="h5 stretched-link lh-150">{{ course.courseName }}</a>
                        <p class="mt-3 mb-0 lh-170">{{ course.description }}</p>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</section>
{% endif %}
{% endblock %}