{% extends "base/layout.html" %}
{% load static %}
{% block head %}

<link rel="stylesheet" href="https://www.cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<meta charset=utf-8 />
<title>Morris.js Responsive Charts Example + Bootstrap</title>
<style>
    * {
        font-family: 'Open Sans', sans-serif;
    }
    .morris-hover {
        position: absolute;
        z-index: 1000;
    }

    .morris-hover.morris-default-style {
        border-radius: 10px;
        padding: 6px;
        color: #666;
        background: rgba(255, 255, 255, 0.8);
        border: solid 2px rgba(230, 230, 230, 0.8);
        font-family: sans-serif;
        font-size: 12px;
        text-align: center;
    }

    .morris-hover.morris-default-style .morris-hover-row-label {
        font-weight: bold;
        margin: 0.25em 0;
    }

    .morris-hover.morris-default-style .morris-hover-point {
        white-space: nowrap;
        margin: 0.1em 0;
    }

    svg {
        width: 100%;
    }
    #donut-chart svg text,
    #donutt-chart svg text{
        font: 500 10px/20px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    }
    .rounded-pill{
        background-color: #e8e8e8 !important;
        color: #4a4a4a !important;
    }
    .stats-title{
        color: #152956;
        height: 30px;
        margin-bottom: 4px;
        font-size: 16px;
        font-weight: 400;
    }
    .stats-row-text{
        color: #4a4a4a;
        font-size: 14px;
        font-weight: 400;
    }
    .table *{
        font-size: 16px !important;
    }
    .table i{
        font-size: 24px !important;
    }

</style>
{% endblock %}
{% block body %}

<section class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-4" style="transform: scale(0.6);">
            <div id="donut-chart"></div>
        </div>
        <div class="col-md-4">
            <h5 class="stats-title">Your Score</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="stats-row-text">Total Correct</div>
                    </div>
                    <span class="badge bg-secondary rounded-pill">{{ total_correct }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="stats-row-text">Total Incorrect</div>
                    </div>
                    <span class="badge bg-secondary rounded-pill">{{ total_incorrect }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="stats-row-text">Total Omitted</div>
                    </div>
                    <span class="badge bg-secondary rounded-pill">{{ total_omitted }}</span>
                </li>
                <hr style="display: none;">
            </ul>
        </div>
        <div class="col-md-4">
            <h5 class="stats-title">Answer Changes</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="stats-row-text">Correct to Incorrect</div>
                    </div>
                    <span class="badge bg-secondary rounded-pill">{{c_to_i}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="stats-row-text">Incorrect to Correct</div>
                    </div>
                    <span class="badge bg-secondary rounded-pill">{{i_to_c}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="stats-row-text">Incorrect to Incorrect</div>
                    </div>
                    <span class="badge bg-secondary rounded-pill">{{i_to_i}}</span>
                </li>
                <hr style="display: none;">
            </ul>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-4" style="transform: scale(0.6);">
            <div id="donutt-chart"></div>
        </div>
        <div class="col-md-4">
            <h5 class="stats-title">QBank Usage</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="stats-row-text">Used Questions</div>
                    </div>
                    <span class="badge bg-secondary rounded-pill">{{used_question}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="stats-row-text">Unused Questions</div>
                    </div>
                    <span class="badge bg-secondary rounded-pill">{{unused_question}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="stats-row-text">Total Questions</div>
                    </div>
                    <span class="badge bg-secondary rounded-pill">{{total_question}}</span>
                </li>
                <hr style="display: none;">
            </ul>
        </div>
        <div class="col-md-4">
            <h5 class="stats-title">Test Count</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="stats-row-text">Tests Created</div>
                    </div>
                    <span class="badge bg-secondary rounded-pill">{{test_created}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="stats-row-text">Tests Completed</div>
                    </div>
                    <span class="badge bg-secondary rounded-pill">{{test_completed}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="stats-row-text">Suspended Tests</div>
                    </div>
                    <span class="badge bg-secondary rounded-pill">{{suspended_test}}</span>
                </li>
                <hr style="display: none;">
            </ul>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-8"  style="transform: scale(0.8);">
            <div id="area-chart"></div>
        </div>
        <div class="col-md-4">
            <h5 class="stats-title">Percentile Rank</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="stats-row-text">Your Score(0th Rank)</div>
                    </div>
                    <span class="badge bg-secondary rounded-pill">6%</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="stats-row-text">median Score(48th Rank)</div>
                    </div>
                    <span class="badge bg-secondary rounded-pill">66%</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="stats-row-text">Your Average Time Spent (sec)</div>
                    </div>
                    <span class="badge bg-secondary rounded-pill">{{y_average_time}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="stats-row-text">Other's Average Time Spent (sec)</div>
                    </div>
                    <span class="badge bg-secondary rounded-pill">{{o_average_time}}</span>
                </li>
                <hr style="display: none;">
            </ul>
        </div>
    </div>
    <div class="container table-responsive">
        <h3>Previous Tests</h3>
        <table class="table text-dark">
            <thead class="table-dark">
              <tr>
                <th scope="col">SN</th>
                <th scope="col">Test ID</th>
                <th scope="col">Completion Status</th>
                <th scope="col">Total Question</th>
                <th scope="col">Correct Question</th>
                <th scope="col">Score</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for test in prev_test %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <th scope="row">{{test.id}}</th>
                <td>{{test.completion_status}}</td>
                <td>{{test.total_question}}</td>
                <td>{{test.total_correct}}</td>
                <td>{{test.score|floatformat:2}}%</td>
                <td>
                    {% if test.completion_status == False %}
                    <a href="{% url 'question' %}?test_id={{test.id}}"><i class="fa-regular fa-circle-play"></i></a>
                    {% else %}
                    <a href="{% url 'test_result' %}?test_id={{test.id}}"><i class="fa-solid fa-square-poll-vertical"></i></a>
                    {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</section>

{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        // barChart();
        // lineChart();
        donutChart();
        areaChart();

        $(window).resize(function () {
            // window.barChart.redraw();
            // window.lineChart.redraw();
            // window.areaChart.redraw();
            window.donutChart.redraw();
        });
    });
    function donutChart() {
        window.donutChart = Morris.Donut({
            element: 'donut-chart',
            data: [
                { label: "Correct", value: {{total_correct}} },
                { label: "Incorrect", value: {{total_incorrect}} },
                { label: "Omitted", value: {{total_omitted}} },
            ],
            resize: true,
            redraw: true,
            colors: ['#69c869', '#f05a5b', '#689bf7']
        });
        window.donutChart = Morris.Donut({
            element: 'donutt-chart',
            data: [
                { label: "Used", value: {{used_question}} },
                { label: "Unsed", value: {{unused_question}} },
            ],
            resize: true,
            redraw: true,
            colors: ['#1e88e5', '#757575']
            
        });
    }

    function areaChart() {
        window.areaChart = Morris.Area({
            element: 'area-chart',
            data: [
                { y: '100', a: 0 },
                { y: '150', a: 100 },
                { y: '200', a: 0 },
            ],
            xkey: 'y',
            ykeys: ['a'],
            lineColors: ['#1e88e5'],
            lineWidth: '3px',
            resize: true,
            redraw: true,
            axes: false,
        });
    }
</script>
{% endblock %}