{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Webpixels" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Preloader -->
    <title>Uworld Quiz</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <style>
        @keyframes hidePreloader {
            0% {
                width: 100%;
                height: 100%;
            }

            100% {
                width: 0;
                height: 0;
            }
        }

        body>div.preloader {
            position: fixed;
            background: white;
            width: 100%;
            height: 100%;
            z-index: 1071;
            opacity: 0;
            transition: opacity 0.5s ease;
            overflow: hidden;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body:not(.loaded)>div.preloader {
            opacity: 1;
        }

        body:not(.loaded) {
            overflow: hidden;
        }

        body.loaded>div.preloader {
            animation: hidePreloader 0.5s linear 0.5s forwards;
        }

        @media only screen and (max-width: 400px) {
            .menubar {
                display: none !important;
            }
        }
    </style>
    <script>
        window.addEventListener("load", function () {
            setTimeout(function () {
                document.querySelector("body").classList.add("loaded");
            }, 300);
        });
    </script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <link rel="shortcut icon" href="{% static 'htmlAsset/images/favicon.jpg' %}" />
    <!-- Favicon -->
    <link rel="icon" href="{% static 'assets/img/brand/favicon.png' %}" type="image/png" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="{% static 'assets/libs/@fortawesome/fontawesome-free/css/all.min.css' %}" /> -->
    <!-- Quick CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/quick-website.css' %}" id="stylesheet" />
    <link rel="stylesheet" href="{% static 'htmlAsset/css/homepage.css' %}" />

    <!-- <link rel="stylesheet" href="{% static 'htmlAsset/css/module.css' %}" /> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.bundle.min.js" integrity="sha512-9GacT4119eY3AcosfWtHMsT5JyZudrexyEVzTBWV3viP/YfB9e2pEy3N7WXL3SV6ASXpTU0vzzSxsbfsuUH4sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- <link rel="stylesheet" href="{% static 'htmlAsset/css/TableMedia.css' %}" /> -->
    {% block head %}{% endblock %}
    <style>
        *{
            font-family: 'Open Sans', sans-serif;
        }
        /* .fa-solid, .fas,
        i::after,i::before{
            font-family: 'Font Awesome 6 Free';
        } */
    </style>
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-cookies" data-backdrop="false"
        aria-labelledby="modal-cookies" aria-hidden="true">
        <div class="modal-dialog modal-dialog-aside left-4 right-4 bottom-4">
            <div class="modal-content bg-dark-dark">
                <div class="modal-body">
                    <!-- Text -->
                    <p class="text-sm text-white mb-3">
                        We use cookies so that our themes work for you. By using our
                        website, you agree to our use of cookies.
                    </p>
                    <!-- Buttons -->
                    <a href="#" class="btn btn-sm btn-white" target="_blank">Learn more</a>
                    <button type="button" class="btn btn-sm btn-primary mr-2" data-dismiss="modal">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Header -->
    <header class="" id="header-main">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg navbar-dark text-white" id="navbar-main" style="background-color: #2f4050 !important;">
            <div class="container">
                <!-- Brand -->
                <a class="navbar-brand" href="{% url 'index' %}"> QuizPlus </a>
                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse"
                    aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Collapse -->
                <div class="collapse navbar-collapse navbar-collapse-overlay justify-content-between" id="navbar-main-collapse">
                    <!-- Toggler -->
                    <div class="position-relative">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i data-feather="x"></i>
                        </button>
                    </div>
                    <!-- Main navigation -->
                    <ul class="navbar-nav ml-lg-auto">
                        <!-- Overview -->
                        <li class="nav-item nav-item-spaced d-none d-lg-block">
                            <a class="nav-link" href="{% url 'index' %}"> Home </a>
                        </li>
                        
                        <!-- Pages menu -->
                        <li class="nav-item nav-item-spaced dropdown dropdown-animate">
                            <a class="nav-link" href="{% url 'pricing' %}"> Pricing</a>
                        </li>
                        <li class="nav-item nav-item-spaced dropdown dropdown-animate">
                            <a class="nav-link" href="{% url 'stat' %}"> Dashboard</a>
                        </li>
                        <li class="nav-item nav-item-spaced dropdown dropdown-animate">
                            <a class="nav-link" href="{% url 'test' %}"> Test</a>
                        </li>
                    </ul>
                    <!-- Right navigation -->
                    <ul class="navbar-nav align-items-lg-center d-none d-lg-flex ml-lg-auto">
                        <!-- Auth -->
                        {% if request.user.is_authenticated %}
                        <li class="nav-item ml-3">
                            <a class="nav-link" href="{% url 'profile' %}">
                                {% if request.user.first_name %} {{ request.user.first_name }}
                                {% else %} {{ request.user.username }} {% endif %}
                            </a>
                        </li>

                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %} {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}

                            <button type="submit" class="nav-item nav-link btn btn-sm btn-light-primary py-2 px-2">
                                Sign Out
                            </button>
                        </form>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-item nav-link btn btn-sm btn-light-primary py-2 px-2" href="{% url 'account_login' %}">
                                Sign in
                            </a>
                        </li>
                        <li class="nav-item ms-2">
                            <a class="nav-item nav-link btn btn-sm btn-light-primary py-2 px-2" href="{% url 'account_signup' %}">
                                Register
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block body %} {% endblock %}
    <footer class="position-relative" id="footer-main"  style="background-color: #2f4050 !important;">
        <div class="footer footer-dark  pt-0 text-white"   style="background-color: #2f4050 !important;">
            <!-- Footer -->
            <div class="container">
                <div class="row align-items-center justify-content-md-between">
                    <div class="col-md-6">
                        <div class="copyright text-sm font-weight-bold nav justify-content-center justify-content-md-start">
                            &copy; 2020 &nbsp
                            <a href="#" class="font-weight-bold text-white" target="_blank"> Uworld </a>
                            &nbsp All rights reserved
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                            <li class="nav-item ">
                                <a class="nav-link text-white" href="#"> Terms </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-white" href="#"> Privacy </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-white" href="#"> Cookies </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Core JS  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js" integrity="sha512-8Y8eGK92dzouwpROIppwr+0kPauu0qqtnzZZNEF8Pat5tuRNJxJXCkbQfJ0HlUG3y1HB3z18CSKmUo7i2zcPpg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.bundle.min.js" integrity="sha512-9GacT4119eY3AcosfWtHMsT5JyZudrexyEVzTBWV3viP/YfB9e2pEy3N7WXL3SV6ASXpTU0vzzSxsbfsuUH4sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script> -->
    <!-- <script src="{% static 'assets/libs/svg-injector/dist/svg-injector.min.js' %}"></script> -->
    <!-- <script src="{% static 'assets/libs/feather-icons/dist/feather.min.js' %}"></script> -->
    <!-- <script src="{% static 'assets/libs/simplebar/dist/simplebar.min.js' %}"></script> -->
    <!-- Optional JS -->
    <!-- <script src="{% static 'assets/libs/in-view/dist/in-view.min.js' %}"></script> -->
    <!-- <script src="{% static 'assets/libs/sticky-kit/dist/sticky-kit.min.js' %}"></script> -->
    <!-- <script src="{% static 'assets/libs/imagesloaded/imagesloaded.pkgd.min.js' %}"></script> -->
    <!-- Quick JS -->
    <!-- <script src="{% static 'assets/js/quick-website.js' %}"></script> -->
    <!-- Custom JS -->
    {% block javascript %} {% endblock %}
    <!-- Feather Icons -->
    <!-- <script>
        feather.replace({
            width: "1em",
            height: "1em",
        });
    </script> -->
</body>

</html>