{% extends "base.html" %} 
{% load static %}
{% block title %}{% endblock %} {% block content %}

<!-- Sidebar Starts -->
<div class="sidebar">
  <h4 disabled>Information Selection</h4>
  {{zip_file}}
  <form action="{% url 'home' %}" method="GET">
    {% csrf_token %}
    <!-- Select Markets -->
    <label class="" mt-3>Select Market:</label>
    <br />
    <select
      class="form-select"
      name="market_selected"
      id="market_selected"
      onchange="selectMarket()"
    >
      {% for market in markets %}
      <option class="text-primary" value="{{ market }}">{{ market }}</option>
      {% endfor %}
    </select>
    <p id="selected_market"></p>
    <p id="ExcelFileName"></p>
    <br />

    <!-- Select Options -->
    <label>Select Option</label>
    <br />
    <select
      class="form-select"
      name="selected_option"
      id="select_option"
      onchange="selectOption()"
      onchange="showCell()"
    >
      <option  value="Cell" selected>Cell</option>
      <option  value="eNB" >eNB</option>
    </select>
    <br />

    <!-- Select Cells EnodeB-->
    <label>Site eNodeB</label>
    <label for="flexCheckChecked"> Site eNodeB</label>
    <select
      class="form-select"
      name="site_nodes"
      aria-label=""
      id="site_node"
    >
      {% for enbs in enode_bs %}
      <option class="text-primary" name="opt4" value="{{ enbs }}">
        {{ enbs }}
      </option>
      {% endfor %}
    </select>
    <br/>
    <div id="cell_id" >
    <label>Cell</label>
     <select
      class="form-select"
      name="cell_option"
      aria-label=""
      id="cell_option"
      multiple
    >
      {% for cell in cell_ids %}
      <option class="text-primary" name="cell_option" value="{{ cell }}">
        {{ cell }}
      </option>
      {% endfor %}
      </select>
      </div>
      <button type="submit" class="btn btn-primary mt-4">Load Data</button> 
    <label><span class="text-info">Select files to be generated</span></label>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        name="pnp"
        value="1"
        id="flexCheckChecked"
        checked
      />
      <label class="form-check-label" for="flexCheckChecked"> pnp </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="2"
        name="enb"
        id="flexCheckChecked"
        checked
      />
      <label class="form-check-label" for="flexCheckChecked"> enb </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        name="cell"
        value="3"
        id="flexCheckChecked"
        checked
      />
      <label class="form-check-label" for="flexCheckChecked"> cell </label>
    </div>
   
      <button type="button" id="generate" name="generate" value="1" class="btn mt-4" onclick="showDownload()">
      <a href="#" id="generate"  >
        Generate PNP</a
      >
      </button>
      <button type="button" id="download" class="btn mt-4 mb-4" style="display:none;">
      <a href="{% url 'file' %}" target="_blank" id="download">
        Download PNP Files</a>
      </button>
 </form>
</div>

<!-- sidebar ends -->

<div class="content">
  <h2>GROW SITE WEB APP</h2>
  <p>
    This is an app that performs the cell grow files from your ciq file.
  </p>
  <ul>
    <li>Select Market</li>
    <li>Select Site</li>
    <li>Run the App</li>
  </ul>

  <div style="overflow-x:scroll;">{{data | safe}}</div>
</div>
<!-- content ends -->
{% endblock %}
